.specifically-section{
    background-image: url("../../images/specifically-bg.png");
    background-repeat: no-repeat;
    background-size: 2323px 389px;
    background-position: calc(50% + 0px) calc(50% - 0px);
    padding-bottom: 169px;
}
.specifically{
    padding-bottom: 45px;
}
.specifically__content{
    width: 535px;
    margin: 0 auto 57px;
    text-align: center; 
}
.specifically__title{
    @include textStyle($color:#22343D,$fontSize:32px, $fontWeight:700);
    text-align: center;
}
.specifically__list{
    padding-top: 8px;
    @include display($space:space-between, $items:start);
    margin-bottom: 34px;
}
.specifically__item{
    max-width: 240px;
    position: relative;
    @include display($direction:column,$items:start,$space:center)
}
.specifically__item-title{
    margin-top: 30px;
    @include textStyle($color:#22343D,$fontSize:22px, $fontWeight:600);
    margin-bottom: 13px;
}
.specifically__text{
    @include textStyle($color:#22343D,$fontSize:16px, $fontWeight:400,$lineHeight:26px);
}
.specifically__link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 12px 0;
    width: 175px;
    height: 53px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    transition: color 0.3s linear;
    background: #02897A;
    @include textStyle($color:#FFF, $fontSize:16px, $fontWeight:600);
    &:hover{
        background: #FFF;
        @include textStyle($color:#22343D, $fontSize:16px, $fontWeight:700);
    }
    &:active{
        opacity: 0.7;
    }
}
@media (max-width:890px){
    .specifically-section{
        background-image: url("../../images/specifically-bg.png");
        background-repeat: no-repeat;
        background-size: 120% 14%;
        background-position: calc(50% + 0px) calc(50% + 360px);
    }
    .specifically__content{
        width: 100%;
        @include display();
    }
    .specifically__title{
        width: 100%;
        text-align: center;
    }
    .specifically__list{
        width: 100%;
        @include display($direction:column);
        gap: 32px;
    }
    .specifically__item{
        width: 100%;
        @include display($direction:column)
    }
    .specifically__item-title{
        width: 240px;
        text-align: center;
    }
    .specifically__text{
        width: 240px;
        text-align: center;
    }
}
@media (max-width:685px){
    .specifically-section{
        background-image: url("../../images/specifically-bg.png");
        background-repeat: no-repeat;
        background-size: 150% 20%;
        background-position: calc(50% + 0px) calc(50% + 370px);
        padding-bottom: 93px;
    }
}
